/* app/globals.css */
/* src/app/globals.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}
.field {
  margin-bottom: 1.2rem;
}
label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.visa-card{
 background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 420px;  
}
.visa-card h3,
.visa-card h4 {
  margin-bottom: 10px;
}

.visa-card p {
  flex-grow: 1; /* pushes button to bottom */
}
.visa-card.open .status span {
  color: #1aa83f; /* green */
  font-weight: bold;
}

.visa-card.closed .status span {
  color: #d9534f; /* red */
  font-weight: bold;
}


.form-container {
  max-width: 550px;           /* makes the card smaller */
  margin: 50px auto;          /* centers the card */
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.form-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: bold;
}
